---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Davide, a full stack developer from Italy.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>PHP</li>
        <li>Laravel</li>
        <li>Python</li>
        <li>SQL</li>
        <li>jQuery</li>
        <li>Git</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about gaming, music, traveling and riding my Kawasaki Ninja ZX6R.
      An unusual hobby of mine is sit by the sea and relax, nothing better than some quality time for myself.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
